<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<html class="js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ page.meta_description }}">
    <meta name="keywords" content="{{ page.meta_keyword }}">

    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="offcanvas.css" rel="stylesheet">-->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand" href="/"><img height="50px" src="{{ STATIC_URL }}images/logo50.png" alt="riproduzioni storiche logo"/></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/chi_sono">Chi sono</a></li>
                    <!-----Pulsante riproduzioni---------------->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Riproduzioni<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for reprod in reprod_list %}
                            <li><a href="/riproduzioni/{{ reprod.alias }}">{{ reprod.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <!-----Pulsante Articoli--------------------->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articoli<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for article in article_list %}
                            <li><a href="/articoli/{{ article.alias }}">{{ article.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <!-----Pulsante galleria-------------------->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galleria<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if gallery_exists %}
                                {% for gallery in gallery_list %}
                                <li><a href="/galleria/{{ gallery.title_slug }}">{{ gallery.title }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                    <!-----Pulsante Bibliografia-------------------->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bibliografia<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for biblio in biblio_list %}
                            <li><a href="/bibliografia/{{ biblio.alias }}">{{ biblio.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/eventi">Eventi</a></li>
                    <li><a href="/contatti">Contatti</a></li>
                </ul>
            </div>
            <!------------------------------------------------------------------->
        </div>
    </div>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
    {% if home %}

        <!--          <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                  </p>-->
        <div class="jumbotron">
            <!--<ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>-->
            <h1>Hello, world!</h1>

            <p>...</p>

            <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="row">
            {% for item in item_list %}
                <div class="col-6 col-sm-6 col-lg-4">
                    <div class="thumbnail">
                        <h3>{{ item.title }}</h3>
                        {% if item.news_thumb.DoesNotExist %}
                            <img src="{{ item.news_thumb.image }}" alt="{{ item.news_thumb.description }}">
                        {% endif %}
                        <div class="caption">
                            <p>{{ item.short_description }}</p>
                            <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                            <p><a class="btn btn-default" href="/{{ item.item_page.alias }}" role="button">Leggi tutto &raquo;</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <br/><hr><br/>
            <div class="row">
            {% if gallery_exists %}
                {% for gallery in gallery_list %}
                    <div class="col-6 col-sm-6 col-lg-4">
                        <div class="thumbnail">
                            <h3>{{ gallery.title }}</h3>
                            <div class="caption">
                                <p>{{ gallery.description }}</p>
                                <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                                <p><a class="btn btn-default" href="/{{ gallery.title_slug }}" role="button">Vedi &raquo;</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    {% else %}

        <br/><br/><br/><br/>
        <div class="col-xs-12 col-sm-9">
            <div class="row">
                {% for item in item_list %}
                <!--<div class="col-6 col-sm-6 col-lg-4">-->
                    <br/><br/>
                    <h2>{{ item.title }}</h2>
                    <br/>
                    <p>{{ item.content }}</p>
                    <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
                <!--</div>-->
                {% endfor %}
            </div>
        </div>
    {% endif %}
            <!--/row-->

        <!--/span-->
        <br/><br/>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <!-- Social panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Seguimi</h3>
                </div>
                <div class="panel-body">
                    <a href="http://www.facebook.com/riproduzioni.storiche" target="_blank">
                        <img class="media-object" src="{{ STATIC_URL }}images/Facebook.png" alt="Seguimi su Facebook" style="display:inline;">
                    </a>
                    <a href="http://twitter.com/Riproduzioni" target="_blank">
                        <img class="media-object" src="{{ STATIC_URL }}images/Twitter.png" alt="Seguimi su Twitter" style="display:inline;">
                    </a>
                    <a href="http://pinterest.com/riproduzioni/" target="_blank">
                        <img class="media-object" src="{{ STATIC_URL }}images/Pinterest.png" alt="Seguimi su Pinterest" style="display:inline;">
                    </a>
                    <a href="http://www.youtube.com/user/moraton99?feature=mhee" target="_blank">
                        <img class="media-object" src="{{ STATIC_URL }}images/YouTube.png" alt="Seguimi su Youtube" style="display:inline;">
                    </a>
                    <a href="http://www.flickr.com/photos/riproduzioni_storiche/" target="_blank">
                        <img class="media-object" src="{{ STATIC_URL }}images/Flickr.png" alt="Seguimi su Flickr" style="display:inline;">
                    </a>
                    <a href="http://it.linkedin.com/in/danielegiannotti/" target="_blank">
                        <img class="media-object" src="{{ STATIC_URL }}images/LinkedIn.png" alt="Seguimi su Linkedin" style="display:inline;">
                    </a>
                </div>
            </div>

            <!-- Social news panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">News</h3>
                </div>
                <div class="panel-body">
                    News social network
                </div>
            </div>
            <!-- Tags-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tags</h3>
                </div>
                <div class="panel-body">
                    Tutti i tag
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>Grafica e design by Riproduzioni Storiche</p>
    </footer>

</div>
<!--/.container-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<!--<script src="offcanvas.js"></script>
<script src="holder.js"></script>-->
</body>
</html>

